/* 一覧 */
.app-table {
  table-layout: fixed;
}

.app-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  white-space: nowrap;
}

/* 詳細 */
span.font-impact {
  font-family: "Verdana, Arial, sans-serif";
  white-space: pre-wrap;
  overflow: hidden;
}

a.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

a.btn.btn-danger {
  display: block;
  width: 90px;
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}

/* PC */
.app-show-container {
  width: 100%;
}

/* タブレット */
@media (max-width: 768px) {

  /* 一覧 */
  .for-tablet {
    display: none;
  }

  .app-show-container {
    width: 1500px;
    height: 3000px;
  }

}

/* スマホ */
@media (max-device-width: 500px) {

  /* 一覧 */
  .for-pc.for-tablet {
    display: none;
  }

  .app-show-container {
    width: 1500px;
  }

}